{{ define "main" }}

<header class="breadCrumb">
  <div class="svg-img">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-100 -100 1000 600">
      <defs>
          <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#dc3545" />
              <stop offset="1" stop-color="#fd7e14" stop-opacity="0" />
          </linearGradient>
      </defs>
      <g data-name="blob-shape (2)">
          <path class="blob" fill="url(#d)"
              d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
      </g>
  </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
      </div>
    </div>
  </div>
</header>

{{ $address := .Site.Params.address }}
    </div>
  </div>
</section> -->

<section class="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-form-title">
          <h3>Contact Form</h3>
        </div>
        <div class="contact-form-input">
          <form id="contact-form" action="{{ .Site.Params.formspreeURL }}" method="POST">

            <div class="form-row">

              <div class="form-group col-md-6 pr-3">
                <input type="text" class="form-control" name="Name" placeholder="Name" required />
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Email" required />
              </div>
            </div>

            <div class="form-group">
              <textarea class="form-control" id="message" rows="6" name="message" placeholder="Message"></textarea>
            </div>

            <div class="form-group">
              <div class="form-check small">
                <input type="checkbox" class="form-check-input" name="agreement" id="aggrement" required />
                <label class="form-check-label" for="aggrement">
                  I agree that my submitted data is being collected and
                  stored.</label>
              </div>
            </div>

            <button type="submit" class="btn btn-warning btn-zoom" id="contact-form-button">Send Message</button>
            <p id="contact-form-status" class="mt-3"></p>
          </form>

          <!-- <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  I agree that my submitted data is being collected and
                  stored.
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form> -->



        </div>
      </div>
      <div class="col-lg-6">
        <img src="{{ "images/contact/udraw_contact.svg" | absURL }}" alt="contact" width="500" height="600" />
      </div>
      
      <!-- <div class="col-lg-6">
        {{ $map := .Site.Params.map }}
        <div id="map" data-lat={{ $map.latitude }} data-long={{ $map.longitude }} data-pin={{ $map.pinImage | absURL }}>
        </div>
      </div> -->
    </div>
  </div>
</section>

{{ end }}